.popup__submit-button {
    width: 358px;
    height: 50px;
    background-color: #000000;
    color: #FFFFFF;
    margin-top: 32px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0;
    border: none;
    border-radius: 2px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

.popup__submit-button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 624px) {
    .popup__submit-button {
        width: 238px;
        height: 46px;
        margin-top: 35px;
        font-size: 14px;
        line-height: 17px;
    }
}