.popup__input-error {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(255, 0, 0, 1);
    visibility: hidden;
    margin-left: 0;
    width: 358px;
    margin-bottom: 13px;
}